<a href="https://colab.research.google.com/github/ChrxsCrxss/DS4A-Capstone/blob/main/Pawn_Shops_State.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [1]:
#!pip install openpyxl

In [ ]:
import os
os.getcwd()
#C:\Users\Garde\Documents\DS4\Dataset

'/home/jovyan/case_0.1_fellow'

In [3]:
excel_file = (r'/content/PawnShops.xlsx')

In [ ]:
print(excel_file)

C:\Users\Garde\Documents\DS4\Dataset\PawnShops.xlsx

In [4]:
df = pd.read_excel(excel_file) #, sheet_name=)

In [5]:
df.head()

             State Name State  ...  Pawnshop Count Yellow pages  CENSUS2010POP
0  District of Columbia    DC  ...                            7         601723
1            New Jersey    NJ  ...                          168        8791894
2               Vermont    VT  ...                           12         625741
3             Wisconsin    WI  ...                          125        5686986
4          Pennsylvania    PA  ...                          342       12702379

[5 rows x 5 columns]