In [17]:
import json
import pandas as pd

In [44]:
path_to_raw_data = "../../data/raw/" 

df = pd.read_excel ('../../data/raw/broadband_long2000-2018rev.xlsx')

In [36]:
# Need to convert id to string, need to change 'statenam' to 'statename'
df.dtypes

statenam      object
county        object
year           int64
id            object
broadband    float64
cfips          int64
dtype: object

In [37]:
df_without_na = df[df['broadband'].notna()]
df_broadband_2017_to_2018 =  df_without_na[df['year'] >= 2017]
df_broadband_2017_to_2018.head(10)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

   statenam          county  year              id  broadband  cfips
17  Alabama  Autauga County  2017  0500000US01001   0.618182   1001
18  Alabama  Autauga County  2018  0500000US01001   0.789000   1001
36  Alabama  Baldwin County  2017  0500000US01003   0.820682   1003
37  Alabama  Baldwin County  2018  0500000US01003   0.781000   1003
55  Alabama  Barbour County  2017  0500000US01005   0.478992   1005
56  Alabama  Barbour County  2018  0500000US01005   0.604000   1005
74  Alabama     Bibb County  2017  0500000US01007   0.606742   1007
75  Alabama     Bibb County  2018  0500000US01007   0.661000   1007
93  Alabama   Blount County  2017  0500000US01009   0.586694   1009
94  Alabama   Blount County  2018  0500000US01009   0.685000   1009

In [38]:
# rename columns
df_broadband_2017_to_2018 = df_broadband_2017_to_2018.rename(columns={'statenam': 'state', 'broadband': 'broadband percent'})

In [39]:
df_broadband_2017_to_2018.dtypes

state                 object
county                object
year                   int64
id                    object
broadband percent    float64
cfips                  int64
dtype: object

In [40]:
# casting
df_broadband_2017_to_2018['id'] = df_broadband_2017_to_2018['id'].astype('string')
df_broadband_2017_to_2018['state'] = df_broadband_2017_to_2018['state'].astype('string')
df_broadband_2017_to_2018['county'] = df_broadband_2017_to_2018['county'].astype('string')

df_broadband_2017_to_2018.head(10)

      state          county  year              id  broadband percent  cfips
17  Alabama  Autauga County  2017  0500000US01001           0.618182   1001
18  Alabama  Autauga County  2018  0500000US01001           0.789000   1001
36  Alabama  Baldwin County  2017  0500000US01003           0.820682   1003
37  Alabama  Baldwin County  2018  0500000US01003           0.781000   1003
55  Alabama  Barbour County  2017  0500000US01005           0.478992   1005
56  Alabama  Barbour County  2018  0500000US01005           0.604000   1005
74  Alabama     Bibb County  2017  0500000US01007           0.606742   1007
75  Alabama     Bibb County  2018  0500000US01007           0.661000   1007
93  Alabama   Blount County  2017  0500000US01009           0.586694   1009
94  Alabama   Blount County  2018  0500000US01009           0.685000   1009

In [41]:
# drop unneeded columns 
df_broadband_2017_to_2018.drop(['id', 'cfips'], axis=1, inplace=True)

# normalize values for county column
df_broadband_2017_to_2018['county'] = df_broadband_2017_to_2018['county'].str.replace(' County', '')

df_broadband_2017_to_2018.head(10)

      state   county  year  broadband percent
17  Alabama  Autauga  2017           0.618182
18  Alabama  Autauga  2018           0.789000
36  Alabama  Baldwin  2017           0.820682
37  Alabama  Baldwin  2018           0.781000
55  Alabama  Barbour  2017           0.478992
56  Alabama  Barbour  2018           0.604000
74  Alabama     Bibb  2017           0.606742
75  Alabama     Bibb  2018           0.661000
93  Alabama   Blount  2017           0.586694
94  Alabama   Blount  2018           0.685000

In [42]:
df_broadband_2017_to_2018.to_csv('../../data/interim/BROADBAND_2017_to_2018', index=False)

** =========================================================================== **

In [43]:
df = pd.read_csv('../../data/interim/BROADBAND_2017_to_2018')
df

        state    county  year  broadband percent
0     Alabama   Autauga  2017           0.618182
1     Alabama   Autauga  2018           0.789000
2     Alabama   Baldwin  2017           0.820682
3     Alabama   Baldwin  2018           0.781000
4     Alabama   Barbour  2017           0.478992
...       ...       ...   ...                ...
6260  Wyoming     Uinta  2018           0.882000
6261  Wyoming  Washakie  2017           0.622951
6262  Wyoming  Washakie  2018           0.783000
6263  Wyoming    Weston  2017           0.586207
6264  Wyoming    Weston  2018           0.733000

[6265 rows x 4 columns]

In [88]:
poverty_df = pd.read_excel ('../../data/raw/PovertyEstimates.xls')

In [89]:
poverty_df.columns

Index(['Poverty estimates for the U.S., States, and counties, 2019',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33'],
      dtype='object')

In [90]:
## Rename columns to the fields in row 3 then rename two of those columns to State and State_Couny
poverty_df = poverty_df.rename(columns=poverty_df.iloc[3])
poverty_df = poverty_df.rename(columns={'Stabr': 'state', 'Area_name': 'county'})

# drop irrelevant columns
poverty_df.drop(["Rural-urban_Continuum_Code_2003",
"Urban_Influence_Code_2003",
"Rural-urban_Continuum_Code_2013",
"Urban_Influence_Code_2013"], axis=1, inplace=True)

In [91]:
poverty_df.head()

,FIPStxt,state,county,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,PCTPOVALL_2019,CI90LBALLP_2019,CI90UBALLP_2019,POV017_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,"Source: U.S. Department of Commerce, Bureau of...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"For definitions of rural classifications, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"This table was prepared by USDA, Economic Rese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FIPStxt,Stabr,Area_name,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,PCTPOVALL_2019,CI90LBALLP_2019,CI90UBALLP_2019,POV017_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
4,00000,US,United States,39490096,39248096,39732096,12.3,12.2,12.4,12000470,...,16,65712,65594,65830,3457689,3405854,3509524,18.2,17.9,18.5

In [92]:
poverty_df = poverty_df[4:]

# cast columns to appropriate data types
for column in poverty_df.columns:
    if column in ["state","county"]:
        poverty_df[column] = poverty_df[column].astype('string')
        continue
    else:
        poverty_df[column] = poverty_df[column].astype('float')

In [93]:
# drop columns with data before 2013
for column_name in poverty_df.columns:
    try:
        year = int(column_name[-4:])
        if year < 2013:
            poverty_df.drop([column_name], axis='column', inplace=True)
    except Exception as e:
        print(e, column_name)
        continue
        
        
for column in poverty_df.columns:
    print(column)

invalid literal for int() with base 10: 'Stxt' FIPStxt
invalid literal for int() with base 10: 'tate' state
invalid literal for int() with base 10: 'unty' county
FIPStxt
state
county
POVALL_2019
CI90LBALL_2019
CI90UBALL_2019
PCTPOVALL_2019
CI90LBALLP_2019
CI90UBALLP_2019
POV017_2019
CI90LB017_2019
CI90UB017_2019
PCTPOV017_2019
CI90LB017P_2019
CI90UB017P_2019
POV517_2019
CI90LB517_2019
CI90UB517_2019
PCTPOV517_2019
CI90LB517P_2019
CI90UB517P_2019
MEDHHINC_2019
CI90LBINC_2019
CI90UBINC_2019
POV04_2019
CI90LB04_2019
CI90UB04_2019
PCTPOV04_2019
CI90LB04P_2019
CI90UB04P_2019

In [94]:
poverty_df.dtypes

FIPStxt            float64
state               string
county              string
POVALL_2019        float64
CI90LBALL_2019     float64
CI90UBALL_2019     float64
PCTPOVALL_2019     float64
CI90LBALLP_2019    float64
CI90UBALLP_2019    float64
POV017_2019        float64
CI90LB017_2019     float64
CI90UB017_2019     float64
PCTPOV017_2019     float64
CI90LB017P_2019    float64
CI90UB017P_2019    float64
POV517_2019        float64
CI90LB517_2019     float64
CI90UB517_2019     float64
PCTPOV517_2019     float64
CI90LB517P_2019    float64
CI90UB517P_2019    float64
MEDHHINC_2019      float64
CI90LBINC_2019     float64
CI90UBINC_2019     float64
POV04_2019         float64
CI90LB04_2019      float64
CI90UB04_2019      float64
PCTPOV04_2019      float64
CI90LB04P_2019     float64
CI90UB04P_2019     float64
dtype: object

In [105]:
# remove confidence interval columns and other unneeded column
poverty_df =  poverty_df[["state","county","POVALL_2019","PCTPOVALL_2019","POV017_2019","PCTPOV017_2019",
                         "MEDHHINC_2019",
                        ]]

column_name_dict = {
    "POVALL_2019": "total_poverty_2019",
    "PCTPOVALL_2019": "poverty_percent_all_2019",
    "POV017_2019": "total_childhood_people_2019",
    "PCTPOV017_2019": "childhood_poverty_percent_all_2019",
    "MEDHHINC_2019": "median_household_income_2019",
}

# rename columns using dictionary
poverty_df = poverty_df.rename(columns=column_name_dict)

In [108]:
states_dict = {"AL":"Alabama","AK":"Alaska","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut","DE":"Delaware","DC": "Washington D.C.", "FL":"Florida","GA":"Georgia","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana","IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts","MI":"Michigan","MN":"Minnesota","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada","NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota","OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","RI":"Rhode Island","SC":"South Carolina","SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","WA":"Washington","WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}

# normalize state column values
poverty_df['state'] = poverty_df['state'].replace(states_dict)

# normalize values for county column
poverty_df['county'] = poverty_df['county'].str.replace(' County', '')


#poverty_df = poverty_df[poverty_df.county != poverty_df.state]
poverty_df = poverty_df[poverty_df.state != "US"]

poverty_df

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,state,county,total_poverty_2019,poverty_percent_all_2019,total_childhood_people_2019,childhood_poverty_percent_all_2019,median_household_income_2019
6,Alabama,Autauga,6723.0,12.1,2040.0,15.9,58233.0
7,Alabama,Baldwin,22360.0,10.1,6323.0,13.5,59871.0
8,Alabama,Barbour,5909.0,27.1,2050.0,41.0,35972.0
9,Alabama,Bibb,4101.0,20.3,1147.0,25.9,47918.0
10,Alabama,Blount,9324.0,16.3,2750.0,21.0,52902.0
...,...,...,...,...,...,...,...
3192,Wyoming,Sweetwater,3453.0,8.3,1075.0,10.1,80639.0
3193,Wyoming,Teton,1396.0,6.0,236.0,5.7,98837.0
3194,Wyoming,Uinta,1699.0,8.5,541.0,9.6,70756.0
3195,Wyoming,Washakie,845.0,11.1,237.0,13.9,55122.0
3196,Wyoming,Weston,692.0,10.5,189.0,13.8,59410.0

In [ ]:
poverty_df.to_csv('../../../capstone/data/processed/POVERTY_ESTIMATES_2019', index=False)

In [200]:
df_pop = pd.read_excel('../../data/raw/PopulationEstimates.xls')

In [201]:
df_pop = df_pop.rename(columns=df_pop.iloc[1])
## drop the first 4 rows that contain all Nan values and/or column headers
df_pop = df_pop.drop([0,1,2,3])

In [202]:
# drop columns with data before 2013
for column_name in df_pop.columns:
    try:
        year = int(column_name[-4:])
        if year < 2013:
            df_pop.drop([column_name], axis=1, inplace=True)
    except Exception as e:
        print(e, column_name)
        continue

invalid literal for int() with base 10: 'Stxt' FIPStxt
invalid literal for int() with base 10: 'tate' State
invalid literal for int() with base 10: 'Name' Area_Name
invalid literal for int() with base 10: '_POP' CENSUS_2010_POP

In [203]:
df_pop.head(10)

,FIPStxt,State,Area_Name,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_DOMESTIC_MIG_2019,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
4,01001,AL,Autauga County,2,2,0,54571,54727,54893,54864,...,1.06659,0.667129,4.84731,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
5,01003,AL,Baldwin County,3,2,5,182265,194885,199183,202939,...,21.988851,24.276447,24.017829,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
6,01005,AL,Barbour County,6,6,3,27457,26937,26755,26283,...,-25.469458,-9.234644,-5.690302,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
7,01007,AL,Bibb County,1,1,0,22915,22521,22553,22566,...,-3.677774,-7.302358,1.385134,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
8,01009,AL,Blount County,1,1,0,57322,57619,57526,57526,...,6.210911,-0.155766,1.020788,-0.347225,-2.04959,-1.338525,-1.391062,6.193562,-0.069229,1.124597
9,01011,AL,Bullock County,6,6,3,10914,10549,10663,10400,...,-20.714807,-2.751843,-7.102343,-6.3342,9.617198,-24.592888,-2.212709,-19.936786,-1.474201,-7.200986
10,01013,AL,Butler County,6,6,0,20947,20356,20327,20162,...,-6.065163,-10.931451,-7.216152,-14.478623,0.442445,-6.223913,-6.272714,-4.962406,-10.071105,-6.294941
11,01015,AL,Calhoun County,3,2,4,118572,116471,115917,115469,...,-2.255282,-1.388398,-4.167837,-5.255477,-4.027747,-3.215406,-3.471589,-1.654454,-0.488995,-4.044995
12,01017,AL,Chambers County,6,5,0,34215,34139,33977,33996,...,1.927296,-1.693732,-7.927723,2.520405,-3.787656,1.324055,-5.786747,2.134851,-1.515444,-7.748227
13,01019,AL,Cherokee County,6,6,0,25989,26017,25895,25732,...,6.902837,13.045408,11.721892,6.541607,-0.809061,-2.091929,5.398058,6.786497,12.92962,11.606972

In [204]:
df_pop.shape

(3271, 119)

In [205]:
# this will drop state-level data and data for Puerto Rico 
df_pop = df_pop.dropna()

In [206]:
df_pop = df_pop.rename(columns={'State': 'state', 'Area_Name': 'county'})

df_pop.drop(['Rural-urban_Continuum Code_2013','Urban_Influence_Code_2013',
                     'Economic_typology_2015', 'FIPStxt'], axis=1, inplace=True)

In [207]:
df_pop

,state,county,CENSUS_2010_POP,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,POP_ESTIMATE_2018,POP_ESTIMATE_2019,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_DOMESTIC_MIG_2019,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
4,AL,Autauga County,54571,54727,54893,54864,55243,55390,55533,55869,...,1.06659,0.667129,4.84731,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
5,AL,Baldwin County,182265,194885,199183,202939,207601,212521,217855,223234,...,21.988851,24.276447,24.017829,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
6,AL,Barbour County,27457,26937,26755,26283,25806,25157,24872,24686,...,-25.469458,-9.234644,-5.690302,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
7,AL,Bibb County,22915,22521,22553,22566,22586,22550,22367,22394,...,-3.677774,-7.302358,1.385134,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
8,AL,Blount County,57322,57619,57526,57526,57494,57787,57771,57826,...,6.210911,-0.155766,1.020788,-0.347225,-2.04959,-1.338525,-1.391062,6.193562,-0.069229,1.124597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,WY,Sweetwater County,43806,45157,44948,44719,44222,43464,42858,42343,...,-24.13156,-19.253493,-17.605427,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3192,WY,Teton County,21294,22315,22773,23047,23234,23384,23269,23464,...,-4.375992,-16.204746,-1.583464,23.259519,12.508872,4.67045,1.253214,-0.171608,-12.432212,1.797445
3193,WY,Uinta County,21118,20951,20822,20763,20682,20431,20292,20226,...,-18.923455,-13.554993,-9.181105,-10.870861,-15.033634,-10.48455,-11.485101,-18.923455,-13.554993,-9.181105
3194,WY,Washakie County,8533,8413,8273,8278,8165,8010,7877,7805,...,-15.332303,-16.61736,-7.652085,-1.307811,-18.938032,0,-15.204038,-15.950541,-17.246806,-8.289759
3195,WY,Weston County,7208,7136,7138,7208,7220,6968,6924,6927,...,-38.765154,-9.357904,0,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.59909

In [208]:
# normalize state column values
states_dict = {"AL":"Alabama","AK":"Alaska","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut","DE":"Delaware","DC": "Washington D.C.", "FL":"Florida","GA":"Georgia","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana","IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts","MI":"Michigan","MN":"Minnesota","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada","NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota","OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","RI":"Rhode Island","SC":"South Carolina","SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","WA":"Washington","WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}
df_pop['state'] = df_pop['state'].replace(states_dict)

# normalize values for county column
df_pop['county'] = df_pop['county'].str.replace(' County', '')

df_pop

,state,county,CENSUS_2010_POP,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,POP_ESTIMATE_2018,POP_ESTIMATE_2019,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_DOMESTIC_MIG_2019,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
4,Alabama,Autauga,54571,54727,54893,54864,55243,55390,55533,55869,...,1.06659,0.667129,4.84731,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
5,Alabama,Baldwin,182265,194885,199183,202939,207601,212521,217855,223234,...,21.988851,24.276447,24.017829,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
6,Alabama,Barbour,27457,26937,26755,26283,25806,25157,24872,24686,...,-25.469458,-9.234644,-5.690302,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
7,Alabama,Bibb,22915,22521,22553,22566,22586,22550,22367,22394,...,-3.677774,-7.302358,1.385134,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
8,Alabama,Blount,57322,57619,57526,57526,57494,57787,57771,57826,...,6.210911,-0.155766,1.020788,-0.347225,-2.04959,-1.338525,-1.391062,6.193562,-0.069229,1.124597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,Wyoming,Sweetwater,43806,45157,44948,44719,44222,43464,42858,42343,...,-24.13156,-19.253493,-17.605427,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3192,Wyoming,Teton,21294,22315,22773,23047,23234,23384,23269,23464,...,-4.375992,-16.204746,-1.583464,23.259519,12.508872,4.67045,1.253214,-0.171608,-12.432212,1.797445
3193,Wyoming,Uinta,21118,20951,20822,20763,20682,20431,20292,20226,...,-18.923455,-13.554993,-9.181105,-10.870861,-15.033634,-10.48455,-11.485101,-18.923455,-13.554993,-9.181105
3194,Wyoming,Washakie,8533,8413,8273,8278,8165,8010,7877,7805,...,-15.332303,-16.61736,-7.652085,-1.307811,-18.938032,0,-15.204038,-15.950541,-17.246806,-8.289759
3195,Wyoming,Weston,7208,7136,7138,7208,7220,6968,6924,6927,...,-38.765154,-9.357904,0,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.59909

In [209]:
for column in df_pop.columns:
    print(column, df_pop[column].dtype)

state object
county object
CENSUS_2010_POP object
POP_ESTIMATE_2013 object
POP_ESTIMATE_2014 object
POP_ESTIMATE_2015 object
POP_ESTIMATE_2016 object
POP_ESTIMATE_2017 object
POP_ESTIMATE_2018 object
POP_ESTIMATE_2019 object
N_POP_CHG_2013 object
N_POP_CHG_2014 object
N_POP_CHG_2015 object
N_POP_CHG_2016 object
N_POP_CHG_2017 object
N_POP_CHG_2018 object
N_POP_CHG_2019 object
Births_2013 object
Births_2014 object
Births_2015 object
Births_2016 object
Births_2017 object
Births_2018 object
Births_2019 object
Deaths_2013 object
Deaths_2014 object
Deaths_2015 object
Deaths_2016 object
Deaths_2017 object
Deaths_2018 object
Deaths_2019 object
NATURAL_INC_2013 object
NATURAL_INC_2014 object
NATURAL_INC_2015 object
NATURAL_INC_2016 object
NATURAL_INC_2017 object
NATURAL_INC_2018 object
NATURAL_INC_2019 object
INTERNATIONAL_MIG_2013 object
INTERNATIONAL_MIG_2014 object
INTERNATIONAL_MIG_2015 object
INTERNATIONAL_MIG_2016 object
INTERNATIONAL_MIG_2017 object
INTERNATIONAL_MIG_2018 object
INTERNATIONAL_MIG_2019 object
DOMESTIC_MIG_2013 object
DOMESTIC_MIG_2014 object
DOMESTIC_MIG_2015 object
DOMESTIC_MIG_2016 object
DOMESTIC_MIG_2017 object
DOMESTIC_MIG_2018 object
DOMESTIC_MIG_2019 object
NET_MIG_2013 object
NET_MIG_2014 object
NET_MIG_2015 object
NET_MIG_2016 object
NET_MIG_2017 object
NET_MIG_2018 object
NET_MIG_2019 object
RESIDUAL_2013 object
RESIDUAL_2014 object
RESIDUAL_2015 object
RESIDUAL_2016 object
RESIDUAL_2017 object
RESIDUAL_2018 object
RESIDUAL_2019 object
GQ_ESTIMATES_2013 object
GQ_ESTIMATES_2014 object
GQ_ESTIMATES_2015 object
GQ_ESTIMATES_2016 object
GQ_ESTIMATES_2017 object
GQ_ESTIMATES_2018 object
GQ_ESTIMATES_2019 object
R_birth_2013 object
R_birth_2014 object
R_birth_2015 object
R_birth_2016 object
R_birth_2017 object
R_birth_2018 object
R_birth_2019 object
R_death_2013 object
R_death_2014 object
R_death_2015 object
R_death_2016 object
R_death_2017 object
R_death_2018 object
R_death_2019 object
R_NATURAL_INC_2013 object
R_NATURAL_INC_2014 object
R_NATURAL_INC_2015 object
R_NATURAL_INC_2016 object
R_NATURAL_INC_2017 object
R_NATURAL_INC_2018 object
R_NATURAL_INC_2019 object
R_INTERNATIONAL_MIG_2013 object
R_INTERNATIONAL_MIG_2014 object
R_INTERNATIONAL_MIG_2015 object
R_INTERNATIONAL_MIG_2016 object
R_INTERNATIONAL_MIG_2017 object
R_INTERNATIONAL_MIG_2018 object
R_INTERNATIONAL_MIG_2019 object
R_DOMESTIC_MIG_2013 object
R_DOMESTIC_MIG_2014 object
R_DOMESTIC_MIG_2015 object
R_DOMESTIC_MIG_2016 object
R_DOMESTIC_MIG_2017 object
R_DOMESTIC_MIG_2018 object
R_DOMESTIC_MIG_2019 object
R_NET_MIG_2013 object
R_NET_MIG_2014 object
R_NET_MIG_2015 object
R_NET_MIG_2016 object
R_NET_MIG_2017 object
R_NET_MIG_2018 object
R_NET_MIG_2019 object

In [210]:
# casting and type checking
for column in df_pop.columns:
    if column == 'state' or column == 'county':
        df_pop[column] = df_pop[column].astype('string')
    else:
        df_pop[column] = df_pop[column].astype('float')
    print(str(column) + "    " + str(df_pop[column].dtype))
    assert(df_pop[column].dtype != 'object')

state    string
county    string
CENSUS_2010_POP    float64
POP_ESTIMATE_2013    float64
POP_ESTIMATE_2014    float64
POP_ESTIMATE_2015    float64
POP_ESTIMATE_2016    float64
POP_ESTIMATE_2017    float64
POP_ESTIMATE_2018    float64
POP_ESTIMATE_2019    float64
N_POP_CHG_2013    float64
N_POP_CHG_2014    float64
N_POP_CHG_2015    float64
N_POP_CHG_2016    float64
N_POP_CHG_2017    float64
N_POP_CHG_2018    float64
N_POP_CHG_2019    float64
Births_2013    float64
Births_2014    float64
Births_2015    float64
Births_2016    float64
Births_2017    float64
Births_2018    float64
Births_2019    float64
Deaths_2013    float64
Deaths_2014    float64
Deaths_2015    float64
Deaths_2016    float64
Deaths_2017    float64
Deaths_2018    float64
Deaths_2019    float64
NATURAL_INC_2013    float64
NATURAL_INC_2014    float64
NATURAL_INC_2015    float64
NATURAL_INC_2016    float64
NATURAL_INC_2017    float64
NATURAL_INC_2018    float64
NATURAL_INC_2019    float64
INTERNATIONAL_MIG_2013    float64
INTERNATIONAL_MIG_2014    float64
INTERNATIONAL_MIG_2015    float64
INTERNATIONAL_MIG_2016    float64
INTERNATIONAL_MIG_2017    float64
INTERNATIONAL_MIG_2018    float64
INTERNATIONAL_MIG_2019    float64
DOMESTIC_MIG_2013    float64
DOMESTIC_MIG_2014    float64
DOMESTIC_MIG_2015    float64
DOMESTIC_MIG_2016    float64
DOMESTIC_MIG_2017    float64
DOMESTIC_MIG_2018    float64
DOMESTIC_MIG_2019    float64
NET_MIG_2013    float64
NET_MIG_2014    float64
NET_MIG_2015    float64
NET_MIG_2016    float64
NET_MIG_2017    float64
NET_MIG_2018    float64
NET_MIG_2019    float64
RESIDUAL_2013    float64
RESIDUAL_2014    float64
RESIDUAL_2015    float64
RESIDUAL_2016    float64
RESIDUAL_2017    float64
RESIDUAL_2018    float64
RESIDUAL_2019    float64
GQ_ESTIMATES_2013    float64
GQ_ESTIMATES_2014    float64
GQ_ESTIMATES_2015    float64
GQ_ESTIMATES_2016    float64
GQ_ESTIMATES_2017    float64
GQ_ESTIMATES_2018    float64
GQ_ESTIMATES_2019    float64
R_birth_2013    float64
R_birth_2014    float64
R_birth_2015    float64
R_birth_2016    float64
R_birth_2017    float64
R_birth_2018    float64
R_birth_2019    float64
R_death_2013    float64
R_death_2014    float64
R_death_2015    float64
R_death_2016    float64
R_death_2017    float64
R_death_2018    float64
R_death_2019    float64
R_NATURAL_INC_2013    float64
R_NATURAL_INC_2014    float64
R_NATURAL_INC_2015    float64
R_NATURAL_INC_2016    float64
R_NATURAL_INC_2017    float64
R_NATURAL_INC_2018    float64
R_NATURAL_INC_2019    float64
R_INTERNATIONAL_MIG_2013    float64
R_INTERNATIONAL_MIG_2014    float64
R_INTERNATIONAL_MIG_2015    float64
R_INTERNATIONAL_MIG_2016    float64
R_INTERNATIONAL_MIG_2017    float64
R_INTERNATIONAL_MIG_2018    float64
R_INTERNATIONAL_MIG_2019    float64
R_DOMESTIC_MIG_2013    float64
R_DOMESTIC_MIG_2014    float64
R_DOMESTIC_MIG_2015    float64
R_DOMESTIC_MIG_2016    float64
R_DOMESTIC_MIG_2017    float64
R_DOMESTIC_MIG_2018    float64
R_DOMESTIC_MIG_2019    float64
R_NET_MIG_2013    float64
R_NET_MIG_2014    float64
R_NET_MIG_2015    float64
R_NET_MIG_2016    float64
R_NET_MIG_2017    float64
R_NET_MIG_2018    float64
R_NET_MIG_2019    float64

In [211]:
df_pop

,state,county,CENSUS_2010_POP,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,POP_ESTIMATE_2018,POP_ESTIMATE_2019,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_DOMESTIC_MIG_2019,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
4,Alabama,Autauga,54571.0,54727.0,54893.0,54864.0,55243.0,55390.0,55533.0,55869.0,...,1.066590,0.667129,4.847310,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
5,Alabama,Baldwin,182265.0,194885.0,199183.0,202939.0,207601.0,212521.0,217855.0,223234.0,...,21.988851,24.276447,24.017829,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
6,Alabama,Barbour,27457.0,26937.0,26755.0,26283.0,25806.0,25157.0,24872.0,24686.0,...,-25.469458,-9.234644,-5.690302,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
7,Alabama,Bibb,22915.0,22521.0,22553.0,22566.0,22586.0,22550.0,22367.0,22394.0,...,-3.677774,-7.302358,1.385134,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
8,Alabama,Blount,57322.0,57619.0,57526.0,57526.0,57494.0,57787.0,57771.0,57826.0,...,6.210911,-0.155766,1.020788,-0.347225,-2.049590,-1.338525,-1.391062,6.193562,-0.069229,1.124597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,Wyoming,Sweetwater,43806.0,45157.0,44948.0,44719.0,44222.0,43464.0,42858.0,42343.0,...,-24.131560,-19.253493,-17.605427,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3192,Wyoming,Teton,21294.0,22315.0,22773.0,23047.0,23234.0,23384.0,23269.0,23464.0,...,-4.375992,-16.204746,-1.583464,23.259519,12.508872,4.670450,1.253214,-0.171608,-12.432212,1.797445
3193,Wyoming,Uinta,21118.0,20951.0,20822.0,20763.0,20682.0,20431.0,20292.0,20226.0,...,-18.923455,-13.554993,-9.181105,-10.870861,-15.033634,-10.484550,-11.485101,-18.923455,-13.554993,-9.181105
3194,Wyoming,Washakie,8533.0,8413.0,8273.0,8278.0,8165.0,8010.0,7877.0,7805.0,...,-15.332303,-16.617360,-7.652085,-1.307811,-18.938032,0.000000,-15.204038,-15.950541,-17.246806,-8.289759
3195,Wyoming,Weston,7208.0,7136.0,7138.0,7208.0,7220.0,6968.0,6924.0,6927.0,...,-38.765154,-9.357904,0.000000,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.599090

In [212]:
df_pop['state'].dtype

StringDtype

In [217]:
df_poverty = pd.read_csv('../../data/interim/POPULATION_ESTIMATES_2013_to_2019.csv')

In [218]:
df_poverty.columns

Index(['state', 'county', 'CENSUS_2010_POP', 'POP_ESTIMATE_2013',
       'POP_ESTIMATE_2014', 'POP_ESTIMATE_2015', 'POP_ESTIMATE_2016',
       'POP_ESTIMATE_2017', 'POP_ESTIMATE_2018', 'POP_ESTIMATE_2019',
       ...
       'R_DOMESTIC_MIG_2017', 'R_DOMESTIC_MIG_2018', 'R_DOMESTIC_MIG_2019',
       'R_NET_MIG_2013', 'R_NET_MIG_2014', 'R_NET_MIG_2015', 'R_NET_MIG_2016',
       'R_NET_MIG_2017', 'R_NET_MIG_2018', 'R_NET_MIG_2019'],
      dtype='object', length=115)

In [219]:
df_poverty.dtypes

state                        object
county                       object
CENSUS_2010_POP             float64
POP_ESTIMATE_2013           float64
POP_ESTIMATE_2014           float64
POP_ESTIMATE_2015           float64
POP_ESTIMATE_2016           float64
POP_ESTIMATE_2017           float64
POP_ESTIMATE_2018           float64
POP_ESTIMATE_2019           float64
N_POP_CHG_2013              float64
N_POP_CHG_2014              float64
N_POP_CHG_2015              float64
N_POP_CHG_2016              float64
N_POP_CHG_2017              float64
N_POP_CHG_2018              float64
N_POP_CHG_2019              float64
Births_2013                 float64
Births_2014                 float64
Births_2015                 float64
Births_2016                 float64
Births_2017                 float64
Births_2018                 float64
Births_2019                 float64
Deaths_2013                 float64
Deaths_2014                 float64
Deaths_2015                 float64
Deaths_2016                 float64
Deaths_2017                 float64
Deaths_2018                 float64
Deaths_2019                 float64
NATURAL_INC_2013            float64
NATURAL_INC_2014            float64
NATURAL_INC_2015            float64
NATURAL_INC_2016            float64
NATURAL_INC_2017            float64
NATURAL_INC_2018            float64
NATURAL_INC_2019            float64
INTERNATIONAL_MIG_2013      float64
INTERNATIONAL_MIG_2014      float64
INTERNATIONAL_MIG_2015      float64
INTERNATIONAL_MIG_2016      float64
INTERNATIONAL_MIG_2017      float64
INTERNATIONAL_MIG_2018      float64
INTERNATIONAL_MIG_2019      float64
DOMESTIC_MIG_2013           float64
DOMESTIC_MIG_2014           float64
DOMESTIC_MIG_2015           float64
DOMESTIC_MIG_2016           float64
DOMESTIC_MIG_2017           float64
DOMESTIC_MIG_2018           float64
DOMESTIC_MIG_2019           float64
NET_MIG_2013                float64
NET_MIG_2014                float64
NET_MIG_2015                float64
NET_MIG_2016                float64
NET_MIG_2017                float64
NET_MIG_2018                float64
NET_MIG_2019                float64
RESIDUAL_2013               float64
RESIDUAL_2014               float64
RESIDUAL_2015               float64
RESIDUAL_2016               float64
RESIDUAL_2017               float64
RESIDUAL_2018               float64
RESIDUAL_2019               float64
GQ_ESTIMATES_2013           float64
GQ_ESTIMATES_2014           float64
GQ_ESTIMATES_2015           float64
GQ_ESTIMATES_2016           float64
GQ_ESTIMATES_2017           float64
GQ_ESTIMATES_2018           float64
GQ_ESTIMATES_2019           float64
R_birth_2013                float64
R_birth_2014                float64
R_birth_2015                float64
R_birth_2016                float64
R_birth_2017                float64
R_birth_2018                float64
R_birth_2019                float64
R_death_2013                float64
R_death_2014                float64
R_death_2015                float64
R_death_2016                float64
R_death_2017                float64
R_death_2018                float64
R_death_2019                float64
R_NATURAL_INC_2013          float64
R_NATURAL_INC_2014          float64
R_NATURAL_INC_2015          float64
R_NATURAL_INC_2016          float64
R_NATURAL_INC_2017          float64
R_NATURAL_INC_2018          float64
R_NATURAL_INC_2019          float64
R_INTERNATIONAL_MIG_2013    float64
R_INTERNATIONAL_MIG_2014    float64
R_INTERNATIONAL_MIG_2015    float64
R_INTERNATIONAL_MIG_2016    float64
R_INTERNATIONAL_MIG_2017    float64
R_INTERNATIONAL_MIG_2018    float64
R_INTERNATIONAL_MIG_2019    float64
R_DOMESTIC_MIG_2013         float64
R_DOMESTIC_MIG_2014         float64
R_DOMESTIC_MIG_2015         float64
R_DOMESTIC_MIG_2016         float64
R_DOMESTIC_MIG_2017         float64
R_DOMESTIC_MIG_2018         float64
R_DOMESTIC_MIG_2019         float64
R_NET_MIG_2013              float64
R_NET_MIG_2014              float64
R_NET_MIG_2015              float64
R_NET_MIG_2016              float64
R_NET_MIG_2017              float64
R_NET_MIG_2018              float64
R_NET_MIG_2019              float64
dtype: object