In [34]:
import pandas as pd
df = pd.read_csv("data/demographics/2. SS Pop by Age, Sex, and Mar.csv")

In [42]:
df

,This file presents data that supplement CBO's March 2021 report The 2021 Long-Term Budget Outlook.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,www.cbo.gov/publication/56977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"2. Social Security Area Population by Age, Sex...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Number of People,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,Female,NaN,NaN,NaN,NaN
8,Age,Total,NaN,All\nStatuses,Single,Married,Widowed,Divorced,NaN,All\nStatuses,Single,Married,Widowed,Divorced
9,0,"3,778,643",NaN,"1,932,731","1,932,731",0,0,0,NaN,"1,845,912","1,845,912",0,0,0
10,1,"3,772,895",NaN,"1,929,819","1,929,819",0,0,0,NaN,"1,843,076","1,843,076",0,0,0
11,2,"3,814,395",NaN,"1,951,192","1,951,192",0,0,0,NaN,"1,863,202","1,863,202",0,0,0
12,3,"3,889,615",NaN,"1,990,125","1,990,125",0,0,0,NaN,"1,899,490","1,899,490",0,0,0
13,4,"4,010,362",NaN,"2,051,562","2,051,562",0,0,0,NaN,"1,958,801","1,958,801",0,0,0
14,5,"4,064,048",NaN,"2,079,082","2,079,082",0,0,0,NaN,"1,984,967","1,984,967",0,0,0
15,6,"4,089,997",NaN,"2,091,956","2,091,956",0,0,0,NaN,"1,998,041","1,998,041",0,0,0
16,7,"4,049,186",NaN,"2,071,622","2,071,622",0,0,0,NaN,"1,977,565","1,977,565",0,0,0
17,8,"4,080,630",NaN,"2,085,273","2,085,273",0,0,0,NaN,"1,995,357","1,995,357",0,0,0
18,9,"4,089,895",NaN,"2,091,783","2,091,783",0,0,0,NaN,"1,998,112","1,998,112",0,0,0
19,10,"4,199,670",NaN,"2,146,801","2,146,801",0,0,0,NaN,"2,052,869","2,052,869",0,0,0
20,11,"4,296,063",NaN,"2,195,169","2,195,169",0,0,0,NaN,"2,100,894","2,100,894",0,0,0
21,12,"4,481,616",NaN,"2,289,769","2,289,769",0,0,0,NaN,"2,191,846","2,191,846",0,0,0
22,13,"4,529,305",NaN,"2,312,907","2,312,907",0,0,0,NaN,"2,216,398","2,216,398",0,0,0
23,14,"4,488,278",NaN,"2,293,629","2,293,629",0,0,0,NaN,"2,194,650","2,194,650",0,0,0
24,15,"4,403,574",NaN,"2,250,241","2,250,241",0,0,0,NaN,"2,153,334","2,153,334",0,0,0
25,16,"4,381,939",NaN,"2,238,604","2,232,605","5,999",0,0,NaN,"2,143,335","2,135,326","8,009",0,0
26,17,"4,375,397",NaN,"2,236,538","2,222,522","14,016",0,0,NaN,"2,138,858","2,118,850","20,008",0,0
27,18,"4,344,558",NaN,"2,220,905","2,194,894","24,010",0,"2,001",NaN,"2,123,653","2,094,671","28,982",0,0
28,19,"4,361,766",NaN,"2,229,830","2,203,820","26,010",0,0,NaN,"2,131,936","2,083,938","45,999",0,"2,000"
29,20,"4,462,052",NaN,"2,281,554","2,224,540","55,013",0,"2,000",NaN,"2,180,498","2,058,526","118,973",0,"2,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8226,77,"3,879,570",NaN,"1,872,000","416,000","1,133,000","92,000","231,000",NaN,"2,007,569","353,748","988,296","339,758","325,768"
8227,78,"3,888,479",NaN,"1,869,706","412,935","1,154,818","78,988","222,965",NaN,"2,018,773","390,762","957,418","349,787","320,805"
8228,79,"3,838,857",NaN,"1,838,802","384,167","1,139,497","105,046","210,092",NaN,"2,000,056","368,010","926,026","376,010","330,009"
8229,80,"3,751,049",NaN,"1,788,395","358,079","1,099,243","118,026","213,047",NaN,"1,962,654","348,116","863,288","428,143","323,108"
8230,81,"3,597,218",NaN,"1,706,442","337,285","1,053,890","128,108","187,158",NaN,"1,890,776","324,962","823,903","433,949","307,964"
8231,82,"3,487,939",NaN,"1,643,550","324,108","1,030,345","132,044","157,053",NaN,"1,844,389","340,072","816,172","439,093","249,052"
8232,83,"3,353,356",NaN,"1,571,404","284,073","1,006,259","128,033","153,039",NaN,"1,781,953","307,992","706,981","532,986","233,994"
8233,84,"3,275,352",NaN,"1,523,691","257,948","943,808","165,966","155,968",NaN,"1,751,662","280,946","702,864","521,899","245,952"
8234,85,"3,160,998",NaN,"1,458,310","238,051","936,199","133,028","151,032",NaN,"1,702,688","278,949","612,888","554,898","255,953"
8235,86,"3,074,295",NaN,"1,405,421","244,073","884,265","134,040","143,043",NaN,"1,668,875","301,977","584,956","559,958","221,983"
8236,87,"2,891,565",NaN,"1,307,924","197,988","829,952","161,991","117,993",NaN,"1,583,640","280,936","522,881","570,870","208,953"
8237,88,"2,653,154",NaN,"1,187,466","159,062","742,292","179,070","107,042",NaN,"1,465,688","223,952","474,899","553,882","212,955"
8238,89,"2,391,897",NaN,"1,057,159","147,022","682,103","139,021","89,013",NaN,"1,334,738","214,958","363,929","562,890","192,962"
8239,90,"2,139,999",NaN,"931,530","147,925","538,728","165,916","78,960",NaN,"1,208,469","185,072","311,121","567,220","145,056"
8240,91,"1,876,772",NaN,"802,884","92,987","489,929","149,978","69,990",NaN,"1,073,888","156,984","232,976","541,943","141,985"
8241,92,"1,615,342",NaN,"677,708","67,971","390,832","156,932","61,973",NaN,"937,634","139,945","198,922","486,810","111,956"
8242,93,"1,383,501",NaN,"568,473","53,044","336,280","127,106","52,043",NaN,"815,027","102,003","163,005","422,014","128,004"
8243,94,"1,185,864",NaN,"476,852","43,986","263,918","127,960","40,987",NaN,"709,012","102,002","101,002","419,007","87,001"
8244,95,"958,862",NaN,"375,872","24,992","204,930","112,962","32,989",NaN,"582,989","67,999","81,999","362,993","69,999"
8245,96,"762,543",NaN,"290,149","25,013","147,075","90,046","28,014",NaN,"472,394","63,053","55,046","304,254","50,042"
8246,97,"586,276",NaN,"216,415","22,042","112,215","79,152","3,006",NaN,"369,861","54,979","30,988","232,913","50,981"
8247,98,"449,880",NaN,"160,340","9,019","74,157","66,140","11,023",NaN,"289,540","38,938","34,945","182,710","32,948"
8248,99,"338,573",NaN,"116,716","10,973","55,864","47,884","1,995",NaN,"221,857","30,980","21,986","146,905","21,986"
8249,100+,"803,660",NaN,"248,438","28,251","83,530","118,643","18,015",NaN,"555,222","81,578","15,016","396,280","62,348"
8250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8251,Data source: Congressional Budget Office.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8252,Data represent values on January 1 of each year.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8255,Back to Table of Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN