In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64

In [7]:
path_to_raw_data = "../../../capstone/data/raw/" 

df = pd.read_excel (r'../../../capstone/data/raw/broadband_long2000-2018rev.xlsx')

  statenam          county  year              id  broadband  cfips
0  Alabama  Autauga County  2000  0500000US01001        NaN   1001
1  Alabama  Autauga County  2001  0500000US01001        NaN   1001
2  Alabama  Autauga County  2002  0500000US01001        NaN   1001
3  Alabama  Autauga County  2003  0500000US01001        NaN   1001
4  Alabama  Autauga County  2004  0500000US01001        NaN   1001

In [13]:
# Need to convert id to string, need to change 'statenam' to 'statename'
df.dtypes

statenam      object
county        object
year           int64
id            object
broadband    float64
cfips          int64
dtype: object

In [16]:
df_without_na = df[df['broadband'].notna()]
df_broadband_2017_to_2018 =  df_without_na[df['year'] >= 2017]
df_broadband_2017_to_2018.head(10)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

   statenam          county  year              id  broadband  cfips
17  Alabama  Autauga County  2017  0500000US01001   0.618182   1001
18  Alabama  Autauga County  2018  0500000US01001   0.789000   1001
36  Alabama  Baldwin County  2017  0500000US01003   0.820682   1003
37  Alabama  Baldwin County  2018  0500000US01003   0.781000   1003
55  Alabama  Barbour County  2017  0500000US01005   0.478992   1005
56  Alabama  Barbour County  2018  0500000US01005   0.604000   1005
74  Alabama     Bibb County  2017  0500000US01007   0.606742   1007
75  Alabama     Bibb County  2018  0500000US01007   0.661000   1007
93  Alabama   Blount County  2017  0500000US01009   0.586694   1009
94  Alabama   Blount County  2018  0500000US01009   0.685000   1009

In [18]:
df_broadband_2017_to_2018.shape

(6265, 6)

In [19]:


df_broadband_2017_to_2018 = df_broadband_2017_to_2018.rename(columns={'statenam': 'state', 'broadband': 'broadband_percent'})

In [25]:
df_broadband_2017_to_2018.dtypes

state                 string
county                string
year                   int64
id                    string
broadband_percent    float64
cfips                  int64
dtype: object

In [24]:
df_broadband_2017_to_2018['id'] = df_broadband_2017_to_2018['id'].astype('string')
df_broadband_2017_to_2018['state'] = df_broadband_2017_to_2018['id'].astype('string')
df_broadband_2017_to_2018['county'] = df_broadband_2017_to_2018['id'].astype('string')

In [30]:
df_broadband_2017_to_2018.to_csv('../../../capstone/data/processed/BROADBAND_2017_to_2018', index=False,header=False)