In [14]:
import pandas as pd
import re
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 3.0 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

In [15]:
df = pd.read_excel('../../data/raw/Unemployment.xls')

In [21]:
pd.set_option('display.max_columns', 500)

In [58]:
df2 = df.copy()

In [48]:
df2.head(5)

,"Unemployment and median household income for the U.S., States, and counties, 2000-19",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87
0,Sources: Unemployment: U.S. Department of Labo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"For definitions of rural classifications, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"This table was prepared by USDA, Economic Rese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fips_txt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,Employed_2001,Unemployed_2001,Unemployment_rate_2001,Civilian_labor_force_2002,Employed_2002,Unemployed_2002,Unemployment_rate_2002,Civilian_labor_force_2003,Employed_2003,Unemployed_2003,Unemployment_rate_2003,Civilian_labor_force_2004,Employed_2004,Unemployed_2004,Unemployment_rate_2004,Civilian_labor_force_2005,Employed_2005,Unemployed_2005,Unemployment_rate_2005,Civilian_labor_force_2006,Employed_2006,Unemployed_2006,Unemployment_rate_2006,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,Employed_2008,Unemployed_2008,Unemployment_rate_2008,Civilian_labor_force_2009,Employed_2009,Unemployed_2009,Unemployment_rate_2009,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,Employed_2012,Unemployed_2012,Unemployment_rate_2012,Civilian_labor_force_2013,Employed_2013,Unemployed_2013,Unemployment_rate_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
4,00000,US,United States,NaN,NaN,NaN,142601667,136904680,5696987,3.995035,143786778,136978129,6808649,4.73524,144839532,136455911,8383621,5.788213,145660181,136944540,8715641,5.983544,146725005,138614038,8110967,5.528006,148012786,140462401,7550385,5.101171,150223730,143262292,6961438,4.634047,152191286,145156247,7035039,4.622498,153761298,144860522,8900776,5.788697,153825791,139594849,14230942,9.251337,154270726,139408198,14862528,9.634056,154606324,140765822,13840502,8.952093,155119209,142600412,12518797,8.070436,155485689,144018150,11467539,7.375302,155957310,146338323,9618987,6.167705,156798981,148515185,8283796,5.283067,158626135,150902618,7723517,4.869007,160158564,153183461,6975103,4.355123,161389026,155102319,6286707,3.895375,163100055,157115247,5984808,3.669409,65712,NaN

In [59]:
## Rename columns to the fieds in row 3 then rename two of those columns to State and State_Couny
df2 = df2.rename(columns=df2.iloc[3])
df2 = df2.rename(columns={'Stabr': 'State', 'area_name': 'State_County'})

## drop the first 4 rows that contain all Nan values and/or column headers
df2 = df2.drop([0,1,2,3])

## Reset index to begin with 0 and drop previous index column 
df2 = df2.reset_index().drop('index', axis=1)

In [61]:
df2.head(5)

,fips_txt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,Employed_2001,Unemployed_2001,Unemployment_rate_2001,Civilian_labor_force_2002,Employed_2002,Unemployed_2002,Unemployment_rate_2002,Civilian_labor_force_2003,Employed_2003,Unemployed_2003,Unemployment_rate_2003,Civilian_labor_force_2004,Employed_2004,Unemployed_2004,Unemployment_rate_2004,Civilian_labor_force_2005,Employed_2005,Unemployed_2005,Unemployment_rate_2005,Civilian_labor_force_2006,Employed_2006,Unemployed_2006,Unemployment_rate_2006,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,Employed_2008,Unemployed_2008,Unemployment_rate_2008,Civilian_labor_force_2009,Employed_2009,Unemployed_2009,Unemployment_rate_2009,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,Employed_2012,Unemployed_2012,Unemployment_rate_2012,Civilian_labor_force_2013,Employed_2013,Unemployed_2013,Unemployment_rate_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,00000,US,United States,NaN,NaN,NaN,142601667,136904680,5696987,3.995035,143786778,136978129,6808649,4.73524,144839532,136455911,8383621,5.788213,145660181,136944540,8715641,5.983544,146725005,138614038,8110967,5.528006,148012786,140462401,7550385,5.101171,150223730,143262292,6961438,4.634047,152191286,145156247,7035039,4.622498,153761298,144860522,8900776,5.788697,153825791,139594849,14230942,9.251337,154270726,139408198,14862528,9.634056,154606324,140765822,13840502,8.952093,155119209,142600412,12518797,8.070436,155485689,144018150,11467539,7.375302,155957310,146338323,9618987,6.167705,156798981,148515185,8283796,5.283067,158626135,150902618,7723517,4.869007,160158564,153183461,6975103,4.355123,161389026,155102319,6286707,3.895375,163100055,157115247,5984808,3.669409,65712,NaN
1,01000,AL,Alabama,NaN,NaN,NaN,2133223,2035594,97629,4.6,2115401,2006884,108517,5.1,2106161,1981919,124242,5.9,2120225,1992732,127493,6,2136458,2014889,121569,5.7,2146025,2049791,96234,4.5,2167809,2080233,87576,4,2175612,2089127,86485,4,2176489,2053477,123012,5.7,2162999,1924747,238252,11,2196042,1964559,231483,10.5,2202670,1990413,212257,9.6,2176337,2003290,173047,8,2174000,2017043,156957,7.2,2160842,2014290,146552,6.8,2161481,2030005,131476,6.1,2182558,2055251,127307,5.8,2186869,2090373,96496,4.4,2216627,2130845,85782,3.9,2241747,2174483,67264,3,51771,100
2,01001,AL,"Autauga County, AL",2,2,1,21720,20846,874,4,21955,21055,900,4.1,22094,21035,1059,4.8,22604,21462,1142,5.1,23218,22103,1115,4.8,23949,23037,912,3.8,24398,23585,813,3.3,24383,23577,806,3.3,24687,23420,1267,5.1,24703,22301,2402,9.7,25713,23431,2282,8.9,25836,23677,2159,8.4,25740,23961,1779,6.9,25810,24205,1605,6.2,25592,24097,1495,5.8,25652,24321,1331,5.2,26031,24709,1322,5.1,26075,25062,1013,3.9,26196,25261,935,3.6,26172,25458,714,2.7,58233,112.481888
3,01003,AL,"Baldwin County, AL",3,2,1,69533,66971,2562,3.7,69161,66195,2966,4.3,69169,65691,3478,5,72299,68702,3597,5,74772,70919,3853,5.2,76804,73743,3061,4,79711,77147,2564,3.2,82659,80099,2560,3.1,83223,79372,3851,4.6,82451,74403,8048,9.8,83459,75120,8339,10,85045,77418,7627,9,84414,78065,6349,7.5,85280,79626,5654,6.6,86384,81083,5301,6.1,87872,83010,4862,5.5,90895,86060,4835,5.3,92456,88711,3745,4.1,95233,91809,3424,3.6,97328,94675,2653,2.7,59871,115.645828
4,01005,AL,"Barbour County, AL",6,6,0,11373,10748,625,5.5,11250,10412,838,7.4,10971,10125,846,7.7,10977,10196,781,7.1,10633,9865,768,7.2,10760,10136,624,5.8,10705,10096,609,5.7,10334,9684,650,6.3,10161,9267,894,8.8,10003,8572,1431,14.3,10221,8959,1262,12.3,9849,8712,1137,11.5,9362,8283,1079,11.5,9099,8168,931,10.2,8845,7913,932,10.5,8625,7860,765,8.9,8436,7736,700,8.3,8349,7863,486,5.8,8414,7987,427,5.1,8537,8213,324,3.8,35972,69.482918

In [88]:
## drop columns before 2010
df2 = df2.drop(df2.columns[range(3,46)], axis=1)

In [112]:
df2.to_csv('../../data/processed/Unemployment_By_County_2010_to_2019')