In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64

In [11]:

df = pd.read_excel (r'../../../DS4A-Capstone/data/raw/Education.xls')
df

,"Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,"Sources: U.S. Census Bureau, 1970, 1980, 1990,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"For definitions of rural classifications, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"This table was prepared by USDA, Economic Rese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...,"Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19",Percent of adults with less than a high school...,Percent of adults with a high school diploma o...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...
4,00000,US,United States,NaN,NaN,NaN,NaN,52373312,34158051,11650730,...,27.4,24.4,26472261,59472748,63756905,70920162,11.998918,26.956844,28.898697,32.145542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,72145,PR,Vega Baja Municipio,1,1,1,1,NaN,NaN,NaN,...,21.4,14.4,10494,9681,8905,7834,28.428238,26.225822,24.123638,21.2223
3283,72147,PR,Vieques Municipio,7,12,7,12,NaN,NaN,NaN,...,13.7,10.1,1792,2440,875,1121,28.773281,39.177906,14.049454,17.999357
3284,72149,PR,Villalba Municipio,2,2,2,2,NaN,NaN,NaN,...,18,12.8,3330,5809,2987,3015,21.993263,38.366028,19.727892,19.912819
3285,72151,PR,Yabucoa Municipio,1,1,1,1,NaN,NaN,NaN,...,18.3,12.1,6927,6132,6494,4293,29.048897,25.715004,27.233078,18.003019
3286,72153,PR,Yauco Municipio,3,2,2,2,NaN,NaN,NaN,...,17.8,15.8,6794,8512,3973,6304,26.556698,33.272095,15.529844,24.641363

In [12]:
df.dtypes

Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2019    object
Unnamed: 1                                                                                          object
Unnamed: 2                                                                                          object
Unnamed: 3                                                                                          object
Unnamed: 4                                                                                          object
Unnamed: 5                                                                                          object
Unnamed: 6                                                                                          object
Unnamed: 7                                                                                          object
Unnamed: 8                                                                                          object
Unnamed: 9                                                                                          object
Unnamed: 10                                                                                         object
Unnamed: 11                                                                                         object
Unnamed: 12                                                                                         object
Unnamed: 13                                                                                         object
Unnamed: 14                                                                                         object
Unnamed: 15                                                                                         object
Unnamed: 16                                                                                         object
Unnamed: 17                                                                                         object
Unnamed: 18                                                                                         object
Unnamed: 19                                                                                         object
Unnamed: 20                                                                                         object
Unnamed: 21                                                                                         object
Unnamed: 22                                                                                         object
Unnamed: 23                                                                                         object
Unnamed: 24                                                                                         object
Unnamed: 25                                                                                         object
Unnamed: 26                                                                                         object
Unnamed: 27                                                                                         object
Unnamed: 28                                                                                         object
Unnamed: 29                                                                                         object
Unnamed: 30                                                                                         object
Unnamed: 31                                                                                         object
Unnamed: 32                                                                                         object
Unnamed: 33                                                                                         object
Unnamed: 34                                                                                         object
Unnamed: 35                                                                                         object
Unnamed: 36                                                                                         object
Unnamed: 37                                                                                         object
Unnamed: 38                                                                                         object
Unnamed: 39                                                                                         object
Unnamed: 40                                                                                         object
Unnamed: 41                                                                                         object
Unnamed: 42                                                                                         object
Unnamed: 43                                                                                         object
Unnamed: 44                                                                                         object
Unnamed: 45                                                                                         object
Unnamed: 46                                                                                         object
dtype: object

In [13]:
df = df.dropna()
df

,"Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
3,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...,"Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19",Percent of adults with less than a high school...,Percent of adults with a high school diploma o...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...
6,01001,AL,Autauga County,2,2,2,2,6611,3757,933,...,26.9,18,4291,12551,10596,9929,11.483395,33.588459,28.356571,26.571573
7,01003,AL,Baldwin County,4,5,3,2,18726,8426,2334,...,29.3,23.1,13893,41797,47274,48148,9.193843,27.659616,31.284081,31.862459
8,01005,AL,Barbour County,6,6,6,6,8120,2242,581,...,21.3,10.9,4812,6396,4676,2080,26.786907,35.604542,26.029837,11.578713
9,01007,AL,Bibb County,1,1,1,1,5272,1402,238,...,20.4,7.1,3386,7256,3848,1678,20.942602,44.878773,23.800098,10.378526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3203,56037,WY,Sweetwater County,5,8,5,8,4393,3731,986,...,35.7,17,2017,9239,10415,6291,7.213361,33.041271,37.246979,22.49839
3204,56039,WY,Teton County,7,8,7,8,708,908,524,...,30,45.8,834,2577,4037,9875,4.814409,14.876176,23.304277,57.005138
3205,56041,WY,Uinta County,7,8,7,8,1569,1517,445,...,34.2,15,941,5383,4562,2078,7.258562,41.522678,35.189754,16.029003
3206,56043,WY,Washakie County,7,11,7,11,1572,1437,590,...,33.1,18.7,568,1650,2031,1297,10.241615,29.751171,36.620987,23.386225
3207,56045,WY,Weston County,7,9,7,9,1428,1247,398,...,30.5,14.5,323,1904,1844,1016,6.349518,37.428741,36.249264,19.972479

In [14]:
# df = df.drop(df.index[4])
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [ ]:
df = df.drop(df.index[4])

In [16]:
# df.to_csv('../../../DS4A-Capstone/data/processed/New_Education.xls', index=False)
df.head(30)

3,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
6,01001,AL,Autauga County,2,2,2,2,6611,3757,933,...,26.9,18,4291,12551,10596,9929,11.483395,33.588459,28.356571,26.571573
7,01003,AL,Baldwin County,4,5,3,2,18726,8426,2334,...,29.3,23.1,13893,41797,47274,48148,9.193843,27.659616,31.284081,31.862459
8,01005,AL,Barbour County,6,6,6,6,8120,2242,581,...,21.3,10.9,4812,6396,4676,2080,26.786907,35.604542,26.029837,11.578713
9,01007,AL,Bibb County,1,1,1,1,5272,1402,238,...,20.4,7.1,3386,7256,3848,1678,20.942602,44.878773,23.800098,10.378526
10,01009,AL,Blount County,1,1,1,1,10677,3440,626,...,24.8,9.6,7763,13299,13519,5210,19.509438,33.422131,33.975021,13.093413
11,01011,AL,Bullock County,6,6,6,6,4245,958,305,...,17.5,7.7,1798,2860,1587,856,25.320377,40.276016,22.348965,12.05464
12,01013,AL,Butler County,6,6,6,6,8353,2459,499,...,22.9,10.4,2066,6244,3279,2230,14.950431,45.184166,23.728201,16.137203
13,01015,AL,Calhoun County,3,2,3,2,30535,13804,3823,...,26.4,15.2,12315,25940,26233,14620,15.567326,32.790615,33.160995,18.481064
14,01017,AL,Chambers County,6,5,6,5,13616,4816,927,...,22.5,9.5,4372,8739,7515,3163,18.378242,36.735466,31.590231,13.296062
15,01019,AL,Cherokee County,8,6,6,6,6126,1878,440,...,18.9,9.7,3478,7598,5391,2407,18.427465,40.256439,28.563103,12.752994
16,01021,AL,Chilton County,1,1,1,1,10285,2805,538,...,20.5,9.9,5474,13348,7401,3823,18.218731,44.425213,24.632231,12.723824
17,01023,AL,Choctaw County,9,10,9,10,5720,1922,378,...,20.6,9.6,1737,3515,2964,1113,18.619358,37.678207,31.771894,11.930539
18,01025,AL,Clarke County,7,11,7,11,8459,3485,800,...,21.1,12.1,3259,7005,4456,2050,19.433512,41.771019,26.571259,12.22421
19,01027,AL,Clay County,9,10,9,10,4784,1719,345,...,20.4,7.8,2205,3577,2678,999,23.311132,37.815838,28.311661,10.56137
20,01029,AL,Cleburne County,8,4,8,4,4431,1198,272,...,17.8,9.2,2198,3980,2687,1616,20.971281,37.973476,25.636868,15.418376
21,01031,AL,Coffee County,6,5,4,5,10790,4861,1332,...,27.6,19.3,4967,9615,12667,8044,14.073612,27.243362,35.890968,22.792055
22,01033,AL,Colbert County,3,2,3,2,15050,7986,2151,...,25.3,14.1,5783,14740,11366,7070,14.84381,37.834648,29.174259,18.147284
23,01035,AL,Conecuh County,9,11,7,11,5889,1709,332,...,20.3,9.2,1384,4516,1805,1128,15.668516,51.126457,20.434732,12.770293
24,01037,AL,Coosa County,8,7,8,3,3983,1260,269,...,19.3,8,1652,3327,2221,1059,20.002422,40.283329,26.891876,12.822375
25,01039,AL,Covington County,7,9,6,6,13470,4333,1014,...,23.2,12.2,4366,9819,8119,4020,16.585625,37.300564,30.842577,15.271235
26,01041,AL,Crenshaw County,8,6,8,6,5595,1295,385,...,19.9,11.2,2016,3830,2157,1687,20.804953,39.525284,22.260061,17.4097
27,01043,AL,Cullman County,6,3,4,3,20137,6244,1405,...,26.5,11.9,10648,19668,19406,8004,18.445761,34.071301,33.617435,13.865502
28,01045,AL,Dale County,4,5,4,5,9412,7274,2511,...,34.6,14,4651,10819,11961,6078,13.879853,32.28685,35.694889,18.138411
29,01047,AL,Dallas County,4,5,4,5,15421,6357,2219,...,22.9,13.9,4757,9411,8178,3854,18.156488,35.919846,31.213741,14.709924
30,01049,AL,DeKalb County,6,6,6,6,17375,4853,861,...,21.5,8.3,12072,16431,13241,6246,25.155241,34.238384,27.591166,13.015211
31,01051,AL,Elmore County,2,2,2,2,11066,4755,1063,...,27.2,16.6,7503,18232,16298,14060,13.376,32.503166,29.055319,25.065516
32,01053,AL,Escambia County,6,6,6,6,12205,4721,836,...,23.2,10.6,4878,11308,6449,3224,18.863838,43.729454,24.939093,12.467613
33,01055,AL,Etowah County,3,2,3,2,31249,14834,3927,...,28.4,13.4,11127,23668,24422,12815,15.447301,32.85762,33.904377,17.790705
34,01057,AL,Fayette County,6,6,6,6,6552,2043,438,...,21.9,9.2,2037,4831,3387,1451,17.401333,41.269436,28.93388,12.395352
35,01059,AL,Franklin County,6,6,6,6,9158,3413,558,...,21.9,9.7,4739,7601,5539,2907,22.799,36.567883,26.647743,13.985374

In [17]:
df.to_csv('../../../DS4A-Capstone/data/processed/New_Education.xls', index=False)

In [18]:
df.to_csv('../../../DS4A-Capstone/data/processed/New_Education.csv', index=False)