In [ ]:
import json
import pandas as pd
import numpy as np

In [129]:
df_edu = pd.read_excel('../../data/raw/Education.xls')

In [130]:
# df = df.drop(df.index[4])
df_edu = df_edu.rename(columns=df_edu.iloc[3])

In [133]:
df_edu = df_edu.drop([0,1,2,3])
df_edu.dropna(inplace=True)

In [139]:
df_edu.columns

Index(['state', 'county', 'Less than a high school diploma, 2015-19',
       'High school diploma only, 2015-19',
       'Some college or associate's degree, 2015-19',
       'Bachelor's degree or higher, 2015-19',
       'Percent of adults with less than a high school diploma, 2015-19',
       'Percent of adults with a high school diploma only, 2015-19',
       'Percent of adults completing some college or associate's degree, 2015-19',
       'Percent of adults with a bachelor's degree or higher, 2015-19'],
      dtype='object')

In [136]:
# drop columns with data before 2013
for column_name in df_edu.columns:
    try:
        year = int(column_name[-4:])
        if year < 2013:
            df_edu.drop([column_name], axis=1, inplace=True)
    except Exception as e:
        print(e, column_name)
        continue

invalid literal for int() with base 10: 'Code' FIPS Code
invalid literal for int() with base 10: 'tate' State
invalid literal for int() with base 10: 'name' Area name
invalid literal for int() with base 10: 'Code' 2003 Rural-urban Continuum Code
invalid literal for int() with base 10: 'Code' 2003 Urban Influence Code
invalid literal for int() with base 10: 'Code' 2013 Rural-urban Continuum Code
invalid literal for int() with base 10: 'Code' 2013 Urban Influence Code
invalid literal for int() with base 10: '5-19' Less than a high school diploma, 2015-19
invalid literal for int() with base 10: '5-19' High school diploma only, 2015-19
invalid literal for int() with base 10: '5-19' Some college or associate's degree, 2015-19
invalid literal for int() with base 10: '5-19' Bachelor's degree or higher, 2015-19
invalid literal for int() with base 10: '5-19' Percent of adults with less than a high school diploma, 2015-19
invalid literal for int() with base 10: '5-19' Percent of adults with a high school diploma only, 2015-19
invalid literal for int() with base 10: '5-19' Percent of adults completing some college or associate's degree, 2015-19
invalid literal for int() with base 10: '5-19' Percent of adults with a bachelor's degree or higher, 2015-19

In [138]:
df_edu.drop(['FIPS Code','2003 Rural-urban Continuum Code','2003 Urban Influence Code',
            '2013 Rural-urban Continuum Code','2013 Urban Influence Code'], axis=1, inplace=True)

df_edu = df_edu.rename(columns={'State': 'state', 'Area name': 'county'})

# normalize state column values
states_dict = {"AL":"Alabama","AK":"Alaska","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut","DE":"Delaware","DC": "Washington D.C.", "FL":"Florida","GA":"Georgia","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana","IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts","MI":"Michigan","MN":"Minnesota","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada","NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota","OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","RI":"Rhode Island","SC":"South Carolina","SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","WA":"Washington","WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}
df_edu['state'] = df_edu['state'].replace(states_dict)

# normalize values for county column
df_edu['county'] = df_edu['county'].str.replace(' County', '')

*===================================================================================*

In [141]:
# casting and type checking
for column in df_edu.columns:
    if column == 'state' or column == 'county':
        df_edu[column] = df_edu[column].astype(
            'string')
    elif 'Percent' in column:
        df_edu[column] = df_edu[column].astype(
            'float')
    else:
        df_edu[column] = df_edu[column].astype(
            'int')
    print(str(column) + "    " + str(df_edu[column].dtype))
    assert(df_edu[column].dtype != 'object')

state    string
county    string
Less than a high school diploma, 2015-19    int64
High school diploma only, 2015-19    int64
Some college or associate's degree, 2015-19    int64
Bachelor's degree or higher, 2015-19    int64
Percent of adults with less than a high school diploma, 2015-19    float64
Percent of adults with a high school diploma only, 2015-19    float64
Percent of adults completing some college or associate's degree, 2015-19    float64
Percent of adults with a bachelor's degree or higher, 2015-19    float64

In [143]:
for ele in ['AS', 'GU', 'MP', 'PR', 'VI',
            'Guam', 'Puerto Rico', "Virgin Islands"
            ]:
    df_edu = df_edu[df_edu.state != ele]

In [144]:
df_edu

,state,county,"Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
6,Alabama,Autauga,4291,12551,10596,9929,11.0,33.0,28.0,26.0
7,Alabama,Baldwin,13893,41797,47274,48148,9.0,27.0,31.0,31.0
8,Alabama,Barbour,4812,6396,4676,2080,26.0,35.0,26.0,11.0
9,Alabama,Bibb,3386,7256,3848,1678,20.0,44.0,23.0,10.0
10,Alabama,Blount,7763,13299,13519,5210,19.0,33.0,33.0,13.0
...,...,...,...,...,...,...,...,...,...,...
3203,Wyoming,Sweetwater,2017,9239,10415,6291,7.0,33.0,37.0,22.0
3204,Wyoming,Teton,834,2577,4037,9875,4.0,14.0,23.0,57.0
3205,Wyoming,Uinta,941,5383,4562,2078,7.0,41.0,35.0,16.0
3206,Wyoming,Washakie,568,1650,2031,1297,10.0,29.0,36.0,23.0
3207,Wyoming,Weston,323,1904,1844,1016,6.0,37.0,36.0,19.0

In [156]:
df_edu.to_csv('../../data/interim/Education.xls',index=False)

AttributeError: 'DataFrame' object has no attribute 'to_csv_'

In [158]:
df_urcc = pd.read_excel ('../../data/raw/ruralurbancodes2013.xls')

In [159]:
df_urcc.drop(['FIPS', 'Population_2010'], axis=1, inplace=True)
df_urcc = df_urcc.dropna()
df_urcc['RUCC_2013'] = df_urcc['RUCC_2013'].astype('int')

In [160]:
df_urcc = df_urcc.rename(columns={"State":"state", "County_Name":"county"})

In [161]:
# normalize state column values
states_dict = {"AL":"Alabama","AK":"Alaska","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut","DE":"Delaware","DC": "Washington D.C.", "FL":"Florida","GA":"Georgia","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana","IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts","MI":"Michigan","MN":"Minnesota","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada","NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota","OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","RI":"Rhode Island","SC":"South Carolina","SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","WA":"Washington","WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}
df_urcc['state'] = df_urcc['state'].replace(states_dict)

# normalize values for county column
df_urcc['county'] = df_urcc['county'].str.replace(' County', '')

In [150]:
# Filter out US territories, protectorates, etc. 
for ele in ['AS', 'GU', 'MP', 'PR', 'VI']:        
    df_urcc = df_urcc[df_urcc.state != ele]

In [151]:
len(list(df_urcc.state.unique()))

51

In [162]:
for cnty in df_urcc['county']:
    if 'Census Area' in cnty:
        df_urcc = df_urcc[df_urcc['county'] != cnty]

Hoonah-Angoon Census Area, AK